mat-form-field{
    width: 300px;
}
.signup-form{
    padding-top: 150px;

}
.signup-form form{
    border: 2px solid #000;
    padding: 5px;
    /* max-width: 50%;
    margin-left: 25%; */
    width: 500px;
    margin: auto;
}
@media screen and (max-width: 500px) {
    .signup-form form{
        width: 100%;
        margin: auto;
    }
  }